@font-face {
  font-family: "Orbitron Black";
  src: url("fonts/orbitron-black.otf");
}
@font-face {
  font-family: "Goudy Bookletter 1911";
  src: url("fonts/GoudyBookletter1911.otf");
}
@font-face {
  font-family: "Miso";
  src: url("fonts/miso.otf");
}
@font-face {
  font-family: "Miso Light";
  src: url("fonts/miso-light.otf");
}

body {
  background-color: #000;
  color: white;
  font-family: "Miso Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:25px;
}
a {
  color:yellow;
  font-family: "Miso"
  decoration:none;
}
a:hover {
  background: rgba(0,255,255,.6);
  -moz-border-radius:8px;
}
a:active {
  color:red
}
h1#title {
  font-family: "Orbitron Black", Helvetica, Arial, sans-serif;
  font-size: 64px%;
  position: fixed;
  bottom: 5%;
  left: 5%;
  color:rgba(255,255,255,.2);
}
h1#slug {
  font-size: 16px;
  position: fixed;
  bottom: 112px;
  left: 112px;
  display: none;
}


#video,
#canvas {
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
}
#video {
  z-index: -10;
}
#canvas {
  background: transparent;
  z-index: -1;
}


#workbench,
#controls {
  background: rgba(255,255,255,.2);
  padding:8px;
  margin:0px;
  -moz-border-radius:8px;
  color: black;
  font-size: 16px;
  z-index:1;
  overflow-x: auto;
  overflow-y: auto;
}
#workbench {
  position: fixed;
  width: 144px;
  height: 100%;
  top: 0px;
  right: 0px;
}
#controls {
  position: fixed;
  width: 128px;
  top: 8px;
  right: 8px;
}
#controls p {
  text-align: center;
}
#controls img {
  border:none;
  margin: 0px;
  padding: 0px;
  align: center;
}


#meta {
  position: fixed;
  width: 64px;
  bottom: 8px;
  right: 8px;
}


#clip_bin,
#timeline,
#help {
  display: none;
}


#filter {
  display:none;
  position: fixed;
  right: 0px;
  width: 512px;
  height: 80%;
  top: 8px;
}
textarea#filter_text {
  display:none;
  color:black;
  background: rgba(255,255,255,.2);
  height: 80%;
  position: fixed;
  width: 55%;
  top: 10%;
  right: 20%;
  overflow:scroll;
}
button#filter_button {
  display:none;
  font-family: "Miso", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  color:green;
  background: rgba(255,255,255,.3);
  position: fixed;
  width: 10%;
  height: 64px;
  bottom: 5%;
  right: 5%;
}


#waveframe {
  position:fixed;
  width: 512px;
  height: 80%;
  right: -1000px;
  bottom: -16px;
}
img#wave_button {
  display:none;
}

p.note {
  color:red;
  font-family: "Miso", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:16px;
}
